<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contextual Advertising</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container p-3 my-3 bg-dark text-white">
    <h1 class="display-3">Contextual Advertising</h1>
    <p style="font-size:30px">Welcome Seller!</p>

</div>
<div class="container p-3 my-3 bg-dark text-white">
    <p style="font-size:30px">Website:</p>
    <p class="text-info" style="font-size:20px">{{site}}</p>
</div>
<div class="container">
    <table class="table table-dark table-striped" style="font-size:20px">
        <thead>
        <tr>
            <th>Keyword</th>
            <th>Confidence Value</th>
        </tr>
        </thead>
        <tbody>
        {% for key, value in keywords.items() %}
        <tr>
            <td> {{ key }} </td>
            <td> {{ value }} </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>