body {
	font-family: Georgia;
	padding: 20px;
	background: #f1f1f1;
}

.header {
	padding: 30px;
	font-size: 40px;
	text-align: center;
	background: #00b3b3;

}

.leftcolumn { 
	float: left;
	width: 70%;
}


.rightcolumn {
	float: right;
	width: 28%;
	padding-left: 10px;
}

.imageHolder {
	background-color: #aaa;
	padding: 20px;
}

.imageIcon {
	background-color: #aaa;
	float:right;
	height:100px;
	width:100px;
}

.card {
	background-color: white;
	padding: 20px;
	margin-top: 20px;
}

.recentPost{
	background : #ffffff;
	padding : 20px;
	margin-top:20px;
	height:250px;
}

.recentTitle{
	background:#00b3b3;
	padding:10px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.footer {
	padding: 20px;
	text-align: center;
	background: #ddd;
	margin-top: 20px;
}

.button{
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.feedback{
	text-align:center;
	
}

/*Navigation Bars*/

.topnav {
	background-color: #ffffff;
	overflow: hidden;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #777;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #003153;
  color: white;
}

.loginnav {
	background-color: #eee;
	overflow: hidden;
}

/* Style the links inside the navigation bar */
.loginnav a {
	float: right;
	color: #ffffff;
	background-color: #4b0082;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

/* Change the color of links on hover */
.loginnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.loginnav a.active {
  background-color: #003153;
  color: white;
}

input[type=text], input[type=password], input[type=email] {
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	
}
button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 63%;
	display:inline-block;	
}

button:hover {
	opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
}

img.avatar {
	width: 40%;
	border-radius: 50%;
}

.container {
	padding: 16px;
}

span.psw {
	float: right;
	padding-top: 16px;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto;
	border: 1px solid #888;
	width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
}

.close:hover,.close:focus {
	color: red;
	cursor: pointer;
}

/* Add Zoom Animation */
.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)} 
	to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
	from {transform: scale(0)} 
	to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
	span.psw {
		display: block;
		float: none;
	}
	.cancelbtn {
		width: 100%;
	}
}

