<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <style media="screen">
      body {
		font-family: Georgia;
		padding: 20px;
	}
    </style>

    <meta charset="utf-8">
    <title>New Node</title>
  </head>
  <body>
    <div class="container">
  <h1 align="center">Node Details</h1>
  <form class="form-horizontal" action="/create_node" method="post">

    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="name" placeholder="Enter name">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="parent">Parent:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="parent" placeholder="Enter parent">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="synonyms">Synonyms:</label>
      <div class="col-sm-10">
        <textarea class="form-control" name="synonyms" rows="2" cols="50" placeholder="Enter synonyms seperated by comma"></textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>
  </body>
</html>
