<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contextual Advertising</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container p-3 my-3 bg-dark text-white">
    <h1 class="display-3">Contextual Advertising</h1>
    <p style="font-size:30px">Welcome Seller!</p>

</div>
<div class="container p-3 my-3 bg-dark text-white">
    <form action="http://192.168.43.84:5000/scrape">
        <div class="form-group">
            <label for="website" style="font-size:30px">Website:</label>
            <input type="url" class="form-control" placeholder="Enter Website URL" name="website">
        </div>
        <div style="text-align:center">
            <button type="submit" class="btn btn-primary" style="font-size:20px">
                Submit
            </button>
        </div>
    </form>

</div>
</body>
</html>

<!--div class="row">
        <div class="col">.col</div>
        <div class="col">.col</div>
        <div class="col">.col</div>
    </div>
